<h1>New Membership</h1>

<%= form_for(@membership) do |f| %>
  <%= render 'shared/error_messages_membership', :object => f.object %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user_id, User.not_in_group(@membership.group_id).collect { |t| [ "(#{t.username}) #{t.first_name} #{t.last_name} ", t.id ] } %>

    <%= f.hidden_field :group_id %>
  </div>

<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelMembershipNew" value="Cancel" class="button round" />
  </div>
<% end %>

