<h1 class="group">New Group</h1>

<%= form_for [@appgroup, @group] do |f| %>
  <%= render 'shared/error_messages_group', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :user_tokens, "Users" %><br/>
    <%= f.text_field :user_tokens %>
  </div>

<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelgroupNew" value="Cancel" class="button round" />
  </div>
<% end %>

