<h1>New Role</h1>

<%= form_for(@role) do |f| %>
  <%= render 'shared/error_messages_role', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelroleNew" value="Cancel" class="button round" />
  </div>
<% end %>

