
<h1><%= link_to "App Groups", appgroups_path %>: <%= link_to "#{@app.appgroup.name}", "#{appgroups_path}/#{@app.appgroup.id}" %></h1>
<h1>App: <%= @app.name %></h1>

<div class="actions">
  <nav class="round">
    <ul>
        <li><%= link_to "Edit", "#{@app.id}/edit", :class => "action_button round"  %></li>
        <li><%= link_to "Add resource", "/resources/new?app_id=#{@app.id}", :class => "action_button round" %></li>
        <li><%= link_to "Add role", "/roles/new?app_id=#{@app.id}", :class => "action_button round" %></li>
    </ul>
  </nav>
</div>

  <div class="field">
    <label>Name </label>
    <span><%= @app.name %> </span>
  </div>


<h3>Resources</h3>

<% unless @app.resources.empty? %>

  <table id="resources_table" class="grid_shaded">
  <tr>
  <th title="Name">Name</th>
  </tr>
  <td>
  <% for resource in @app.resources %>
  <tr>
    <td><%= link_to "#{resource.name}", resource %></td>
  </tr>
  <% end %>
  </table>
<% end %>


<h3>Roles</h3>

<% unless @app.roles.empty? %>

  <table id="roles_table" class="grid_shaded">
  <tr>
  <th title="Name">Name</th>
  </tr>
  <td>
  <% for role in @app.roles %>
  <tr>
    <td><%= link_to "#{role.name}", role %></td>
  </tr>
  <% end %>
  </table>
<% end %>




