<h1>Edit Application Group</h1>

<%= form_for(@appgroup) do |f| %>
  <%= render 'shared/error_messages_appgroup', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "button round" %>
    <input type="button" id="cancelappgroupUpdate" value="Cancel" class="button round" />
  </div>
<% end %>

