<h1 class="appgroup"><%= link_to "App Groups", appgroups_path %></h1>

<h1 class="appgroup indent1">Application Group: <%= @appgroup.name %></h1>

<div class="actions">
  <nav class="round">
    <ul>
        <li><%= link_to "Edit", "#{@appgroup.id}/edit", :class => "action_button round"  %></li>
        <li><%= link_to "New App", new_appgroup_app_path(@appgroup), :class => "action_button round" %></li>
        <li><%= link_to "New Group", new_appgroup_group_path(@appgroup), :class => "action_button round" %></li>
        <li><%= link_to "New User", new_appgroup_user_path(@appgroup), :class => "action_button round" %></li>
    </ul>
  </nav>
</div>

<h1 class="app">Applications</h1>

<% unless @appgroup.apps.empty? %>

  <table id="apps_table" class="grid_shaded">
  <tr>
  <th title="Name">Name</th>
  </tr>
  <td>
  <% for app in @appgroup.apps %>
  <tr>
    <td><%= link_to "#{app.name}", app_path(app.id) %></td>
  </tr>
  <% end %>
  </table>
<% end %>


<h1 class="group">Groups</h1>

<% unless @appgroup.groups.empty? %>

  <table id="groups_table" class="grid_shaded">
  <tr>
  <th title="Name">Name</th>
  </tr>
  <td>
  <% for group in @appgroup.groups %>
  <tr>
    <td><%= link_to "#{group.name}", group_path(group.id) %></td>
  </tr>
  <% end %>
  </table>
<% end %>


<h1 class="user">User</h1>

<% unless @appgroup.users.empty? %>

  <table id="users_table" class="grid_shaded">
  <tr>
  <th title="Name">Name</th>
  </tr>
  <td>
  <% for user in @appgroup.users %>
  <tr>
    <td><%= link_to "#{user.name}", user_path(user.id) %></td>
  </tr>
  <% end %>
  </table>
<% end %>



